@font-face {
  font-family: "TTLakes-Medium";
  src: local("TTLakes-Medium"),
    url(/font-style-TTlakes/TTLakes-Medium.ttf) format("ttf"),
    url(/font-style-TTlakes/TTLakes-Medium.woff) format("woff"),
    url(/font-style-TTlakes/TTLakes-Medium.eot) format("eot");
}


@font-face {
  font-family: "TTLakes-Bold";
  src: local("TTLakes-Bold"),
    url(/font-style-TTlakes/TTLakes-Bold.ttf) format("ttf"),
    url(/font-style-TTlakes/TTLakes-Bold.woff) format("woff"),
    url(/font-style-TTlakes/TTLakes-Bold.eot) format("eot");
}

@font-face {
  font-family: "TTLakes-Black";
  src: local("TTLakes-Black"),
    url(/font-style-TTlakes/TTLakes-Black.ttf) format("ttf"),
    url(/font-style-TTlakes/TTLakes-Black.woff) format("woff"),
    url(/font-style-TTlakes/TTLakes-Black.eot) format("eot");
}

@font-face {
  font-family: "TTLakes-Light";
  src: local("TTLakes-Light"),
    url(/font-style-TTlakes/TTLakes-Light.ttf) format("ttf"),
    url(/font-style-TTlakes/TTLakes-Light.woff) format("woff"),
    url(/font-style-TTlakes/TTLakes-Light.eot) format("eot");
}

@font-face {
  font-family: "TTLakesCondensed-Regular";
  src: local("TTLakesCondensed-Regular"),
    url(/font-style-TTlakes/TTLakesCondensed-Regular.ttf) format("ttf"),
    url(/font-style-TTlakes/TTLakesCondensed-Regular.woff) format("woff"),
    url(/font-style-TTlakes/TTLakesCondensed-Regular.eot) format("eot");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

.header {
  display: flex;
  height: 88px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9FFF5;
  background-color: #FFFFFF;
  padding-left: 16px;
}

.header__right-block,
.header__left-block {
  display: flex;
}

.header__right-block::after {
  content: "";
  background-color: #EAEAEA;
  display: block;
  position: relative;
  height: 32px;
  width: 2px;
  right: 120px;
  top: 4px;
}


.header__left-block--style {
  align-items: center;
  padding-right: 15px;
}

.header__icon--for-768 {
  display: none;
}

.header--icon-margin {
  margin-right: 16px;
}

.body {
  width: 100vw;
  min-height: 95vh;
  overflow-x: hidden;
}

.main {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main__title-block--style {
  margin: 24px 16px 24px 0;

}
.main__title-block::before {
  content: "";
  background: url(/image/highlight.svg) no-repeat;
  position: absolute;
  height: 40px;
  width: 4px;
  top: 112px;
}

.main__title {
  margin-left: 12px;
  margin-top: 2px;
  font-size: 28px;
  font-family: "TTLakes-Bold";
}

.slide-menu {
  overflow-x: auto;
  font-size: 16px;
  color: #7E7E82;
  font-family: "TTLakes-Medium";
}

.slide-menu::-webkit-scrollbar {
  width: 0;
}

.slide-menu__list {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 100%;
  gap: 10px;
  margin-left: 24px;
  margin-top: 2%;
}

.slide-menu__item {
  padding: 0;
  margin: 0;
  height: 40px;
}

.slide-menu__button {
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 10px;
  display: block;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.slide-menu__button:hover {
  border-color: #b7ffec;
  border-radius: 6px;
  background-color: white;
}

.block1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.block1__text--for-768 {
  display: none;
}

.block1__text--style {
  font-size: 17px;
  font-family: "TTLakesCondensed-Regular";
  margin: 0 16px 0 16px;
  letter-spacing: 0.2px;
}

.read-more::before {
  content: "";
  background: url(/image/icon-more.svg) no-repeat;
  position: absolute;
  height: 15px;
  width: 10px;
  margin-top: 4px;
}

.read-more {
  padding: 16px 5px;
}

.read-more__text--style {
  padding-left: 20px;
  font-family: "TTLakesCondensed-Regular";
  
  font-size: 16px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .main__title {
    margin-left: 20px;
  }
  .block1__text--style {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }
  .main  {
  }
  .block1 {
    flex-direction: row;
  }
  .header__icon--for-768 {
    display: block;
  }
  .block1__text--for-768 {
    display: block;
    padding-top: 10px;
  }
}